<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothblobstorage;AccountKey=h6GA8R6ahoDm/oN8mSOiT+NdsbghhU1GDYFreV1WQm4cnqBp1l+GAsBAQfYTuQzzx+8b8nVoBNdYxHbS/NV0TA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>